body {
	background-color: #E6ECF0;
    background-repeat: no-repeat;
    background-position: right top;
    background-attachment: fixed;
}

body {
    color: #404040;
	font-family: "Times New Roman", Times, serif;
}

p {
	margin-left: 10 px;
}

body
   a {
    color: #006699; 
   }
   a:visited {
    color: #66757F; 
   }
   a:active {
    color: #99ffcc; 
   }
   a:hover {
    color: #ccccff; 
   }
   a { 
    padding-left: 5px;
    text-decoration: none;
   } 

h1 {
	text-align: center;
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}
h2 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}
h3 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}
h4 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}
h5 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}
h6 {
	font-family: "Times New Roman", Times, serif;
	margin: 0px 0px 0px 5px;
}


div.navigation {
	background-color: #FFFFFF;
	margin: 20px 0px 0px 0px;
	height: auto;
	width: auto;
	text-align: center;
}
div.tt{
	border: 1px solid gray;
	background-color: white;
    margin: 5px 0px 4px 0px;
	height:auto;
    width: auto;
}

div.pargaraph_names{
	background-color: #1b2837;
	border: 1px solid white;
    margin: 5px 0px 4px 5px; //top, right, bottom, left
	height:auto;
    width: auto;
}

div.img{
	background-color: navy;
	border: 1px solid black;
    margin: -43px 0px 4px 380px;
	height:453px;
    width:950px;
}



